{% extends "todo_app/base.html" %}

{% block title %}
Update Page
{% endblock title %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <center>
      <h1 class="display-5 fw-bold">TO-DO LIST</h1>
      <p class="col-md-8 fs-4">To-do list project built with Django</p>

      <form method="POST">
        {% csrf_token %}
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">To-Do Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="description">
          </div>
        </div>


        <button type="submit" class="btn btn-success">Update This To-Do List</button>
      </form>


    </div>
  </div>
{% endblock content %}